/* styles for tests */

body {
  position: relative;
  font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
  letter-spacing:0px;
  margin: 0 auto 0;
  background-color:#FFF;
  font-size:14px;
  font-weight:normal;
  letter-spacing:0px;
}

#mainbox {
  width: 100%;
}

div.container {
  overflow: auto;
  width: 100%
}

.tname_small {
  font-size: 10px;
  line-height: 14px;
  margin-top 10px;
  float: left;
  padding: 5px;
}

.image_box {
  padding-bottom: 10px;
}

#left-column {
  float: left;
  width:297px;
  background: rgb(93, 93, 93);
  padding: 5px;
  color: #fff;
  height: 9000px;
}

#left-column-container {
}

#right-column {
  /* float: right; */
  /* background:#c9c; */
}


